<ul class="nav navbar-nav">
	<li class="active"><a asp-controller="Home" asp-action="Index" title="Home">Home</a></li>
	<li><a href="https://github.com/SquidDev-CC/accursed" title="GitHub" target="_blank">GitHub</a></li>
</ul>
