@{
	ViewData["Title"] = "Accursed";
}
<div class="rows">
	<div class="page-header">
		<h1>Accursed</h1>
	</div>
	<div class="col-md-9 col-sm-12">
		<div class="introduction">
			<p class="lead">A maven-like server for Curse mods</p>
			<p>
				<a href="http://minecraft.curseforge.com/" target="_blank">Curse and CurseForge</a> are great. However,
				some mods are only hosted on Curse - making dependency management much harder. Accursed is a solution to that.
				It queries the Curse server for mod versions and files, and provides a simple method of downloading files.
			</p>
		</div>

		<h2>Usage</h2>
		<h3>Online</h3>
		<p>
			You can view any mod's information at <code>/mods/[name]</code> and a specific version at <code>/mods/[name]/[version]</code>.
			For a direct download, use <code>/mods/download/[name]/[version]</code> or <code>/mods/download/[name]/[version]/[file]</code>.
		</p>

		<p>
			Accursed tries to normalise version and file names. For instance:
			<ul>
				<li>Version <code>CCTweaks-1.7.10-0.2.jar</code> becomes <code>1.7.10-0.2</code></li>
				<li>File <code>ComputerCraft1.78.jar</code> becomes <code>ComputerCraft-1.78.jar</code></li>
			</ul>

			You can use both normalised and original version names when downloading.
		</p>

		<h3>Gradle</h3>
		<p>
			You can also configure Gradle to use Accursed.
			<code>
				<pre>
repositories {
	ivy {
		archivePattern 'http://46.101.4.196/mods/download/[module]/[revision]/[module]-[revision](-[classifier])(.[ext])'
	}
}

dependencies {
	compile 'accursed:ComputerCraft:1.78'
}
				</pre>
			</code>

			You may wish to change the Ivy pattern to best suite your needs.
			See <a href="https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.repositories.IvyArtifactRepository.html" target="_blank">Gradle's documentation</a> for more information.
		</p>

	</div>
</div>
